*{
    margin: 0%;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

@media (min-width: 992px){
    .row{
        flex-wrap: nowrap;
    }
}

h1{
    text-align: center;
    font-size: 22px;
}
.back_to_index{
    font-style: italic;
}
h2{
    text-align: center;
}